body {
  background-image: url("/Images/chatbg1.jpg");
  margin: 2%;
  height: 90vh;
  overflow: auto;
}
#msg input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  background-color: #caf1e3;
  border: 2px solid rgb(78, 88, 78);
}
#msg button {
  width: 9%;
  height: 45px;
  border-radius: 10px;
  border: 2px solid rgb(78, 88, 78);
}
#msg {
  position: fixed;
  bottom: 0;
  width: 95%;
  padding: 1%;
}
.texts {
  background-color: #cdf1e4;
  padding: 0.5%;
  margin: 2%;
  box-shadow: 5px 10px 10px;
  border-radius: 8px;
}
.allMessages {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 80%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.allMessages::-webkit-scrollbar {
  display: none;
}
.alert {
  background-color: rgb(114, 126, 153);
  color: white;
  text-align: center;
  padding: 0.1%;
  margin: 2%;
  border-radius: 8px;
}
#content {
  margin: auto;
  width: 40%;
  padding: 15% 0;
}
#content input {
  width: 100%;
}
#userName {
  border-radius: 8px;
  width: 30%;
  height: 50px;
  font-size: 1.2em;
  margin-bottom: 5%;
}
#submit {
  height: 35px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 5%;
}
label {
  color: white;
  font-size: 30px;
  background-color: gray;
  width: 50%;
  border-radius: 8px;
}
.status {
  color: #ffffff;
  font-size: 1.5em;
  background-color: black;
  border-radius: 5px;
}
.alertTime {
  font-size: 90%;
}
.msgTime {
  display: none;
}
.texts:hover .msgTime {
  display: inline;
}
.msghead {
  display: flex;
  justify-content: space-between;
}
.userPic {
  height: 65px;
  width: 65px;
  float: left;
}
.scrollName {
  float: left;
  clear: left;
  text-align: center;
  width: 65px;
}
.topScroll {
  display: inline-flex;
  white-space: nowrap;
  width: 90%;
  border-radius: 10px;
  backdrop-filter: contrast(0.5);
  color: white;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.topScroll::-webkit-scrollbar {
  display: none;
}
.users {
  display: inline-block;
  margin-right: 5%;
}
.arrow {
  display: inline-block;
  width: 3%;
  margin: 0.5%;
}
#left {
  width: 100%;
  background-color: white;
  border-radius: 40px;
  border: 4px solid black;
  margin: 0% 0% 50% 0%;
}
#right {
  width: 100%;
  background-color: white;
  border-radius: 40px;
  border: 4px solid black;
  margin: 0% 0% 50% 0%;
}

#Active {
  position: absolute;
  font-size: 120%;
  color: white;
  background-color: black;
  margin: 1%;
  top: -0.6%;
  left: 40%;
  text-align: center;
  z-index: 1;
  width: 15%;
  border-radius: 5px;
}
#Close {
  position: absolute;
  width: 7%;
  height: 5%;
  right: 0;
  top: 0;
  margin: 0.3%;
  background-color: red;
  border-radius: 10px;
  color: black;
  font-size: 90%;
}
#end {
  background-image: url("/Images/end2.jpg");
  backdrop-filter: blur(3px);
}
#closer {
  padding-top: 20%;
}
@media screen and (max-width: 820px) {
  #Close {
    width: 10%;
    height: 4%;
    font-size: 60%;
    margin: 1% 1% 0 0;
  }
  .topScroll {
    width: 83%;
  }
  #Active {
    font-size: 100%;
    width: 23%;
    left: 35%;
    top: -1%;
  }
  #left,
  #right {
    margin: 0% 0% 100% 0%;
  }
  .arrow {
    margin-right: 2%;
    width: 4%;
  }

  #msg input {
    width: 84%;
  }
  #msg button {
    width: 13%;
  }
  #content {
    width: 70%;
  }
  .userPic,
  .scrollName {
    width: 55px;
  }
}
@media screen and (max-width: 400px) {
  #Close {
    width: 11%;
    height: 3%;
    font-size: 50%;
    margin: 1.5% 2% 0 0;
  }
  #right,
  #left {
    width: 130%;
  }
  .topScroll {
    width: 75%;
    padding: 1%;
  }
  #Active {
    width: 30%;
    left: 30%;
    font-size: 60%;
  }
  .alert {
    font-size: 80%;
  }
  .userPic,
  .scrollName {
    width: 45px;
    height: 45px;
  }
  .topScroll {
    height: 13%;
  }
}
